<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="wdith=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    </head>
        <header>
		<a th:href="@{/}">GAZEBO HQ</a>
        </header>
    <body>
        <div id="PageHeader">
            <p>Dashboard</p>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="#">Dashboard</a>
                <a th:href="@{/timesheet}">Time Sheet</a>
                <a th:href="@{/manageusers}">Manage Users</a>
                <a th:href="@{/inbox}">Inbox</a>
                <a th:href="@{/fileserver}">File Server</a>
                <a th:href="@{/systemlog}">System Log</a>
                <a th:href="@{/payroll}">Payroll</a>
                <a th:href="@{/accountsettings}">Account Settings</a>
            </div>
        </div>
       <div id="TodaysDate", style="float:right;">
        <p>Today is:</p>
        <p id="date"></p>
      <script>
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
        </script>
        </div>
       <div id="ClockedIn">
       <p> Clocked In: (N/A Yet)</p>
       </div>
        <div id="HoursThisWeek">
        <p> Hours This Week: (N/A Yet)</p>
       </div>
       
       <div id="Login Out">
       <form th:action="@{/logout}" method="post"> 
         <input type="submit" value="Sign Out"/> 
         </form>
       </div>
       
    </body>
</html>