<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Refrences to CSS-->
    <link href="registration.css" type="text/css" rel="stylesheet">
    
    </head>
        <header>
        GAZEBO HQ
        </header>

    <body>
      
        <!--Registration Form Div-->
      <form class="RegistrationCont" th:action="@{/registration}" method="post" th:object="${user}">
        <!--Register First Name-->
        <div class="form-group">
            <label class="control-label" for="firstName"> First Name </label>
            <input id="firstName" class="form-control" th:field="*{firstName}"
                required autofocus="autofocus" />
        </div>
        <!--Register Last Name-->
        <div class="form-group">
            <label class="control-label" for="lastName"> Last Name </label>
            <input id="lastName" class="form-control" th:field="*{lastName}"
                required autofocus="autofocus" />
        </div>
        <!--Register Email-->
        <div class="form-group">
            <label class="control-label" for="email"> Email </label>
            <input id="email" class="form-control" th:field="*{email}"
                required autofocus="autofocus" />
        </div>
        <!--Register Password-->
        <div class="form-group">
            <label class="control-label" for="password"> Password </label>
            <input id="password" class="form-control" th:field="*{password}"
                required autofocus="autofocus" />
        </div>
        <!--Submit Register-->
        <div class="form-group">
            <button type="submit" class="btn btn-success">Register</button>
            <span>Already registered? <a href="LoginPage.html" th:href="@{/loginpage}">Login
                    here</a></span>
        </div>
        <!--Register EmployeeID (Takes FN,LN, & 010-increment by 10s)-->
    </form>

    <!--Refrences to JavaScript-->
    <script src=""></script>

            <!--Footer About Nav-->
            <footer>
              <div class="row">
                <div class="column">
                  <h3 id="Head">Contact Us</h3>
                  <ul style="list-style-type:none;">
                    <li class="Aboutpoint">Email- HRcontact@gmail.com</li>
                    <li class="Aboutpoint">Phone - (724)488-2023</li>
                    <li class="Aboutpoint">Get Support - Chat Now</li>
                  </ul>
                </div>
                <div class="column">
                  <h3 id="Head">What We Offer</h3>
                  <ul style="list-style-type:none;">
                  <li class="Aboutpoint">PayRoll</li>
                  <li class="Aboutpoint">Admin Permissions</li>
                </ul>
                </div>
                <div class="column">
                  <h3 id="Head">Resources</h3>
                  <ul style="list-style-type:none;">
                  <li class="Aboutpoint">User Manual</li>
                  <li class="Aboutpoint">Tutorials</li>
                </ul>
                </div>
                <div class="column">
                  <h3 id="Head">About Us</h3>
                  <ul style="list-style-type:none;">
                  <li class="Aboutpoint">Our Engineers</li>
                  <li class="Aboutpoint">Our Company</li>
                </ul>
                </div>
              </div>
          </footer>
    </body>
</html>