header {
  background-color: #090979;
  background-image: linear-gradient(to right, #020024, #00d4ff);
  text-align: right;
  padding: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Set Background Image*/
body {
  background-image: url("/Images/GazeboFar.jpg");
  background-size:cover;
}

/*Navigation Bar-holds the Login Text-Links*/
#NavBar {
  background-color: #bfbfbf;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

/*Aligns list in horizontal line*/
.login-Nav{
    display: inline;
    padding: 15px;
}

/*Hover over list*/
.login-Nav:hover{
  background-color: #dce4e6;
  color:rgb(0, 0, 0);
}

/*Footers/About*/
.column {
  float:left;
  width: 25%;
}
.row:after{
  text-align: center;
  content: "";
  display: table;
  clear: both;
}

#Head{
  text-align: center;
  text-indent: 40px;
  color: #201b88; 
}

.Aboutpoint{
  text-align: center;
  padding: 2px;
}

footer{
  position: fixed;
  background-color: #8f8f8f;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 99.5%;
  border: 2px black;
  border-radius: 5px;
  margin: 5px;
}

/*SlideShow Container CSS*/
.Slides {
  display: none;
  align-items: center;
}

.Container{
  margin: auto;
  text-align: center;
  border-style: solid;
  margin-top: 30px;
  border-radius: 1px;
  background-color: #667990af;
  height: 400px;
  width: 350px;
}