header {
    background-color: #090979;
    background-image: linear-gradient(to right, #020024, #00d4ff);
    text-align: right;
    padding: 20px; 
    font-size: 30px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Page header Formats The top Bar */
#PageHeader {
    background-color: #bfbfbf;
    color: black;
    text-align: center;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 5px;
  }

  .MenuButton {
    background-color: #8f8f8f;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 135px;
    border: none;
    margin-top: 5px;
  }

  .todashboard{
    margin-left:100px;
  }