<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Adding Users</title>
        <meta charset="utf-8">
        <meta name="viewport" content="wdith=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="css/manageusers.css" type="text/css" rel="stylesheet">
    </head>
    <header>
        GAZEBO HQ
        <div class="accountDropdown">
            <button>
                <img th:src="@{/Images/avatar.png}" alt="Avatar" class="avatar">
            </button>
                <div class="dropdown-options">
                    <a th:href="@{/accountsettings}">Settings</a>
                    <a href="">Log Out</a>
               </div> 
    </div>    
    </header>
<body>
<a th:href="@{/dashboard}">
    <button class="MenuButton">Back To Dashboard</button> 
</a>

	<p>For Admin Use Only (Will be implemented at only ADMIN-ROLES access at a later time), Admin can upload file a .xlsx file to add multiple users.</p>
          <h1>Please Upload a Excel <b>.xlsx</b> file, to upload a list of Users.</h1>
          <h1>When Uploading a Excel from the blanked downloaded one, please make sure you rename it.</h1>
          		<br>         		
				<form method="post" action="/api/excel/uploadUserSheet" enctype="multipart/form-data">
				  <input type="file" name="file">
				  <button type="submit">Upload</button>
				</form>
          		<br>
          		<h2>Need a blank User List Sheet? <a th:href="@{/api/excel/downloadUserSheet}">Click Here</a> to download one.</h2>
</body>
</html>