<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
        <link href="css/manageusers.css" type="text/css" rel="stylesheet">
<title>Creating/Forgetting Password</title>
</head>
<body>
    <header>
		<a th:href="@{/}">GAZEBO HQ</a>
		<div class="accountDropdown">
			<button>
				<img th:src="@{/Images/avatar.png}" alt="Avatar" class="avatar">
			</button>
				<div class="dropdown-options">
					<a th:href="@{/accountsettings}">Settings</a>
					<a href="">Log Out</a>
			   </div> 
	</div>	
    </header>
<div class="settingPassword">
		<h2>Please enter your Username and old password, to find your information to allow us to create/change your password.</h2>
		
	    <div th:if="${successMessage}">
	        <p th:text="${successMessage}"></p>
	    </div>
		<form th:action="@{/createpassword}" method="post" th:object="${passwordForm}">
		<div th:if="${#fields.hasErrors('username')}">
            <p th:text="${#fields.errors('username')}"></p>
        </div>
		    <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter username" name="username" required/>
		
		<div th:if="${#fields.hasErrors('oldPassword')}">
            <p th:text="${#fields.errors('oldPassword')}"></p>
        </div>
        <label for="oldPassword">Current Password:</label>
        <input type="password" id="oldPassword" name="oldPassword" th:field="*{oldPassword}"/>

        <div th:if="${#fields.hasErrors('newPassword')}">
            <p th:text="${#fields.errors('newPassword')}"></p>
        </div>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" required />

        <button type="submit">Change Password</button>
    </form>
		
</div>		
		
		
</body>
</html>