<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <head>
        <title>Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="wdith=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="css/dashboard.css" type="text/css" rel="stylesheet">
    </head>
        <header>
		<a th:href="@{/}">GAZEBO HQ</a>
        <div class="accountDropdown">
        <button>
            <img th:src="@{/Images/avatar.png}" alt="Avatar" class="avatar">
        </button>
            <div class="dropdown-options">
                <a th:href="@{/accountsettings}">Settings</a>
                <a th:href="@{/logout}">SignOut</a>
           </div>
        </div>
        </header>
    <body>
        <div id="PageHeader">
            <p>Dashboard</p>
			<h1 th:inline="text"> Hello, Welcome <span th:text="${#authentication.getPrincipal().getFirstName}">User</span>!</h1>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="#">Dashboard</a>
                <a th:href="@{/timesheet}">Time Sheet</a>
                <a th:href="@{/manageusers}">Manage Users</a>
                <a th:href="@{/addusers}">Add Users</a>
                <a th:href="@{/inbox}">Inbox</a>
                <a th:href="@{/fileserver}">File Server</a>
                <a th:href="@{/systemlog}">System Log</a>
                <a th:href="@{/payrollAdmin}">Payroll Admin</a>
                <a th:href="@{/payrollUser}">Payroll User</a>
               	<!-- Will be used later to add in Roles -->
				<!-- <a sec:authorize="hasRole('ADMIN')" th:href="@{/payrollAdmin}">Payroll</a> -->
				<!-- <a sec:authorize="hasRole('ADMIN')" th:href="@{/addusers}">Add Users</a>
                <a sec:authorize="hasRole('USER')" th:href="@{/payrollUser}">Payroll</a> -->
            </div>
        </div>
       <div id="TodaysDate", style="float:right;">
        <p>Today is:</p>
        <p id="date"></p>
      <script>
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
        </script>
        </div>
       <div id="ClockedIn">
       <p> Clocked In: (N/A Yet)</p>
       </div>
        <div id="HoursThisWeek">
        <p> Hours This Week: (N/A Yet)</p>
       </div>       
    </body>
</html>