<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>GAZEBO HQ</title>
        <link href="css/HomePage.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <header>
          GAZEBO HQ
        </header>
            <!--Navgation Bar for Logins-->
            <div id="NavBar" align="center" class="Navgation">
                     <a th:href="@{/dashboard}">Login</a> 
                     <a th:href="@{/registration}">Register</a>
                     <a th:href="@{/TestingListUsers}">Testing Users</a>
                     
            </div>
    
            <!--SlideShow Container-->
            <!--Create a div block class, that holds slides qutoes-->
            <div class="Container">
              <div class="Slides">
                <h1><p>Want to keep all your<br>employees information in<br>one Place?</p></h1>
                <h2><b><br>Click Here to Learn More about Gazebo HR!</b></h2>
              </div>
              <div class="Slides">
                <h1><p>Want to Keep Track of your<br>employees<br>Clocking in & Out?</p></h1>
                <h2><b><br>Click Here to Learn More about our PayRoll System!</b></h2>
              </div>
              <div class="Slides">
                <h1><p>Want to control what your<br>employee's can and can't<br>access?</p></h1>
                <h2><b><br>Click Here to Learn More about Admin Permissions!</b></h2>
              </div>
            </div>
            <!--Calls script after everthing on page has loaded, in-order to have slide showrun-->
            <script src="/js/homepage.js"></script>

            <!--Footer About Nav-->
            <footer>
              <div class="row">
                <div class="column">
                  <h3 id="Head">Contact Us</h3>
                  <ul style="list-style-type:none;">
                    <li class="Aboutpoint">Email- HRcontact@gmail.com</li>
                    <li class="Aboutpoint">Phone - (724)488-2023</li>
                    <li class="Aboutpoint">Get Support - Chat Now</li>
                  </ul>
                </div>
                <div class="column">
                  <h3 id="Head">What We Offer</h3>
                  <ul style="list-style-type:none;">
                  <li class="Aboutpoint">PayRoll</li>
                  <li class="Aboutpoint">Admin Permissions</li>
                </ul>
                </div>
                <div class="column">
                  <h3 id="Head">Resources</h3>
                  <ul style="list-style-type:none;">
                  <li class="Aboutpoint">User Manual</li>
                  <li class="Aboutpoint">Tutorials</li>
                </ul>
                </div>
                <div class="column">
                  <h3 id="Head">About Us</h3>
                  <ul style="list-style-type:none;">
                  <li class="Aboutpoint">Our Engineers</li>
                  <li class="Aboutpoint">Our Company</li>
                </ul>
                </div>
              </div>
          </footer>

          </body>
</html>