<!Doctype html>
<html xmlns:th="https://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <title>Manage Users</title>
        <meta charset="utf-8">
        <meta name="viewport" content="wdith=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="css/manageusers.css" type="text/css" rel="stylesheet">
    </head>
    <header>
        GAZEBO HQ
    </header>
<body>
    <div id="PageHeader">
        <p>Manage Users</p>
    </div>
    <div>
<a th:href="@{/dashboard}">
    <button class="MenuButton">Back To Dashboard</button> 
</a>
	<p>For Admin Use Only (Will be implemented at only ADMIN-ROLES access at a later time), Admin can upload file a .xlsx file to add multiple users.</p>
          <h1>Please Upload a Excel <b>.xlsx</b> file, to upload a list of Users.</h1>
          		<br>
				<form method="POST" action="/api/excel/uploadUserSheet" enctype="multipart/form-data">
				  <input type="file" name="file">
				  <button type="submit">Upload</button>
				</form>
          		<br>
          		<h2>Need a blank TimeSheet? <a th:href="@{/api/excel/downloadUserSheet}">Click Here</a> to download one.</h2>
          

	<h3>List Users</h3>
	
	<table>
	
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>UserName</th>
			</tr>
		</thead>
	
		<tbody>
			<tr th:each="user: ${user}">
				<td th:text="${user.firstName}" />
				<td th:text="${user.lastName}" />
				<td th:text="${user.username}" />
			</tr>
		</tbody>
	</table>
</body>	
</div>
</html>    